<div class="productcontainer">
    <div class="container">
        <div class="navigation">
                <div class="navelement"><a class="nav" href="#">Про товар</a></div>
                <div class="navelement"><a class="nav" href="#">Придбати</a></div>
        </div>
        <div class="aboutproduct">
            <div class="image"><img class="image" mat-card-image src="{{product.image}}" /></div>
            <div class="area">
                <div>
                    <div class="fsection">{{product.title}}:{{product.price | currency:'UAH':'₴'}}</div>
                    <div  class="ssection"><button mat-raised-button color="primary">До кошика</button></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h1>Характеристики: {{product.title}}</h1>
            </div>
            <div>
                <div><h2>Кількість коліс: {{product.config.wheels}}</h2></div>
                <div><h2>Тип велосипеда: {{product.config.type}}</h2></div>
            </div>
        </div>
    </div>    
</div>