<div style="text-align: center; font-size: 30px; margin-top: 20px; font-weight: bold;" *ngIf="!incorrect">Для початку треба авторизуватися</div>
<div  style="text-align: center; font-size: 30px; margin-top: 20px; font-weight: bold;" *ngIf="incorrect">Помилка в адресі поштовоЇ скриньки, або паролі</div>
<form [formGroup]="form" (submit)="SubmitForm()" style="display: flex; flex-direction: column; justify-content: center; width: 100%;">
    <input formControlName="email" class="form" type="email" style=" align-self: center; margin-bottom: 40px; margin-top: 40px; height: 50px; border: 2px solid black; padding-left: 15px;" placeholder="Email">
    <input formControlName="password" class="form" type="password" style=" align-self: center; margin-bottom: 40px; height: 50px; border: 2px solid black; padding-left: 15px;" placeholder="password">
    <input type="submit" [disabled]="form.invalid" class="submit" style=" align-self: center; height: 50px; border: 2px solid black; font-size: 19px; border-radius: 10px;" value="submit">
</form>
