<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
            <mat-icon style="margin-right: 5px;">home</mat-icon>
            <span>Vilka</span>
        </div>
        <span class="example-spacer"></span>
        <div class="toolbar no-select nav">
            <button class="toolbar button" mat-flat-button routerLink=""><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Головна</button>
            <button class="toolbar button" mat-flat-button routerLink="products"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>Товари</button>
            <button class="toolbar button" mat-flat-button routerLink="basket"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_basket"></mat-icon>Корзина</button>
            <button class="toolbar button" mat-raised-button color="warn" (click)="openDialog()" *ngIf="isAdmin"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>Додати позицію</button>
            <button class="toolbar button" mat-raised-button color="warn" routerLink="Clients" [matBadge]="clientsCount$ | async" matBadgeOverlap="true" matBadgeColor="accent" *ngIf="isAdmin"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>Клієнти</button>
        </div>
        <div class="alternative">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button class="toolbar button" mat-flat-button routerLink=""><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Головна</button>
                    <button class="toolbar button" mat-flat-button routerLink="products"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>Товари</button>
                    <button class="toolbar button" mat-flat-button routerLink="basket"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_basket"></mat-icon>Корзина</button>
                    <button class="toolbar button" mat-raised-button color="warn" (click)="openDialog()" *ngIf="isAdmin"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>Додати позицію</button>
                    <button class="toolbar button" mat-raised-button color="warn" routerLink="Clients" [matBadge]="clientsCount$ | async" matBadgeOverlap="true" matBadgeColor="accent" *ngIf="isAdmin"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>Клієнти</button>
                </mat-menu>
        </div>
        
    </mat-toolbar-row>
