.example-spacer {
    flex: 1 1 auto;
}
.toolbar{
  margin-right: 5px;
  display: flex;
  align-items: center;
  &.button{
      margin-left: 5px;
      &:first-child{
          margin-left: 0;
      }
    }
}
.alternative{
  display: none;
}
@media(max-width: 920px){
  .nav{
    display: none;
  }
  .alternative{
    display: block;
  }
}
.no-select {
  cursor: pointer;
  user-select: none;
}