<mat-list> 
    <mat-list-item class="matlistP"><h1  class="matlist">Найкращі велосипеди в УкраЇні</h1></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="matlistP"><h1 class="matlist">Тільки в магазині Vilka</h1></mat-list-item>
    <mat-divider></mat-divider>
<div class="container">
  <mat-card class="" *ngFor="let item of visited">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.price | currency:'UAH':'₴'}}</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="{{item.image}}" alt="Photo of a bucicle">
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/product', item.id]"><mat-icon>info</mat-icon>Більше інйормації</button>
    </mat-card-actions>
  </mat-card>
</div>

  </mat-list>
