.matlist{
    margin-top: 30px;
    text-align: center;   
    font-size: 40px;
    white-space:normal;
}
.matlistP{
    margin-bottom: 60px;
}
.button{
    border-radius: 100%;
    height: 250px;
    width: 400px;
}
.tqblist{
    width: 100%;
}
.img{
    align-self: center;
    max-width: 370px;
}
.container{
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.example-card {
    margin-right: 40px;
    max-width: 400px;
    background-color: rgb(236, 235, 238);
  }
  .image{
    align-self: center;
    max-width: 370px;
  }
  .button{
    margin-right: 5px;
  }
  .buttons{
    flex-wrap: wrap;
  }

  @media(max-width: 920px){
    .matlist{
      font-size: 20px;
    }
    .image{
      display: none;
    }
  }