<mat-list> 
    <mat-list-item class="matlistP"><h1  class="matlist">Найкращі велосипеди в УкраЇні</h1></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="matlistP"><h1 class="matlist">Тільки в магазині Salivario</h1></mat-list-item>
    <mat-divider></mat-divider>
  <div class="tqblist">
    <mat-tab-group>
      <mat-tab label="Спортивні"> <img src="../../../assets/images/gt-aggressor-sport-black-velokratia-1280x960.jpg"> </mat-tab>
      <mat-tab label="Гірські"> <img src="../../../assets/images/gt-aggressor-sport-black-velokratia-1280x960.jpg"> </mat-tab>
      <mat-tab label="Інші"> <img src="../../../assets/images/gt-aggressor-sport-black-velokratia-1280x960.jpg"> </mat-tab>
    </mat-tab-group>
  </div>
  </mat-list>
