<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
    </mat-form-field> 
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Wheels</mat-label>
      <input matInput formControlName="wheels">
    </mat-form-field> 
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type">
    </mat-form-field>  
    <button class="button" style="margin-right: 2px" mat-raised-button color="warn" type="submit">Додати позицію</button>
    <button class="button" mat-raised-button color="warn" (click)="onNoClick()" type="button">Відміна</button>
</form>
